:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}
ul {
  list-style: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 24px 156px;
  justify-content: center;
  margin: 0;
}

.gallery-image {
  width: 360px;
  height: 200px;
  flex-shrink: 0;
}

.gallery-image:hover {
  transform: scale(1.04);
}
